Address: "0.0.0.0:8000"
GoogleClientID: "*"
GoogleClientSecret: "*"
GoogleRedirectURI: "https://localhost:5173/oauth2callback"
#GoogleRedirectURI: "https://localhost:8000/oauth2callback"
Hostname: "localhost"
TLS: true
TLSCertFile: "ssl/localhost.pem"
TLSKeyFile: "ssl/localhost-key.pem"
CORSDomains: [ "http://localhost:8080", "http://localhost:8081", "https://localhost:5173" ]
secretPassword: "*"

SessionRedis:
  host: "localhost"
  port: 6379
  password: ""
  db: 0
  ttl: 43200